*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.navbar
{
    background-color:black
    color#ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3)
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a{
    color: aqua;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: 0.4s;
}

.navbar ul li a:hover{
    background-color: white;
    color: #2c3e50;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    transform: translateY(-2px);
    
}
